body {
    padding: 20px;
}

ol, ul {
    padding-left: 15px;
}

.movie-info {
    padding: 0;
    list-style: none;
}

.movies-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.movies-list > div {
    text-align: center;
}