body {
    padding: 0 20px;
    --num-columns: 5;
}

.site-title {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

ol, ul {
    padding-left: 15px;
}

h2 {
    margin-bottom: 5px;
}

.game-setup {
    padding-bottom: 20px;
}

.movie-info {
    padding: 0;
    list-style: none;
}

.game-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px repeat(var(--num-columns), 1fr);
}

.game-grid .movie-col-cell {
    justify-self: center;
    text-align: center;
}

.guess-input {
    width: 60px;
    text-align: center;
}

.dormant {
    opacity: 0.3;
}

.add-movie-btn {
    margin-left: 10px;
}

.movies-list {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.movies-list > div {
    text-align: center;
}

.player-input {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.player-input button {
    margin-left: 3px;
}

.start-game-btn {
    margin-top: 30px;
}

.player-cell {
    text-align: center;
}
.player-score {
    font-size: 30px;
}
.player-score.winning {
    color: green;
}