body {
    padding: 20px;
    --num-columns: 6;
}

ol, ul {
    padding-left: 15px;
}

.movie-info {
    padding: 0;
    list-style: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), 1fr);
}

.dormant {
    opacity: 0.3;
}
.movie-guess-cell {
    opacity: 0.3;
}

.add-movie-btn {
    margin-left: 10px;
}

.movies-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.movies-list > div {
    text-align: center;
}